.contenedor__fotos {
  border-top: 3px solid $colorboton;
  background-color: $colorfondo1;
  padding: 20px 0 40px;
  &__textos {
    text-align: center;
    color: $colortexto1;
    padding: 0 0 20px;
  }
}
.texto__video {
  border-top: 3px solid $colorboton;
  color: $colortexto;
  background-color: $colorfondo1;
  text-align: center;
  margin: 0;
  padding: 40px;
}
.contenedor__videos {
  padding-bottom: 20px;
  background-color: $colorfondo1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  .video-responsive {
    position: relative;
    padding-bottom: 56.25%; /* 16/9 ratio */
    padding-top: 30px; /* IE6 workaround*/
    height: 0;
    overflow: hidden;
  }
  .video-responsive iframe,
  .video-responsive object,
  .video-responsive embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 900px) {
  .contenedor__fotos {
    display: flex;
    justify-content: center;
    background-color: $colorfondo;
    &__textos {
      padding: 20px;
    }
    &__carousel {
      width: 65%;
    }
  }
  .contenedor__videos {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-around;
    
    .video-responsive {
      position: relative;
      padding-bottom: 56.25%; /* 16/9 ratio */
      padding-top: 30px; /* IE6 workaround*/
      padding-right: 20px;
      padding-left: 20px;
      height: 0;
      overflow: hidden;
    }
    .video-responsive iframe,
    .video-responsive object,
    .video-responsive embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
